<section data-ng-controller="HomeController">
    <div class="form-wrapper"> <!-- Form-wrapper only for positioning -->
        <div class="fcorn-shortcodes container">
            <div class="row">
                <!-- Search box and Star Rating -->
                <div class="col-md-10 col-sm-12 col-centered">
                    <form class="search-box" ng-submit="myFunc()" method="get" action="?">
                        <input type="search" placeholder="Issue commands" class="search">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
