<section data-ng-controller="HomeCtrl">
    <div class="form-wrapper"> <!-- Form-wrapper only for positioning -->
        <div class="fcorn-shortcodes container">
            <div class="row">
                <!-- Search box and Star Rating -->
                <div class="col-md-10 col-sm-12 col-centered">
                    <form class="search-box" ng-submit="submitCmd()" method="get">
                        <input type="search" placeholder="Issue commands" ng-model="cmd" class="search">
                    </form>
                    <pre>list = {{list}}</pre>
                </div>
            </div>
        </div>
    </div>
</section>
